# Data types

# Integer

In [2]:
# Integer
#An integer is a whole number - it has no decimal point.
# For example 10 , -5 , 0 , 1000

# Check Data Type

In [84]:
print(8)

8

In [86]:
 x =  42
print(type(x))

<class 'int'>

In [88]:
print (1e309)

inf

In [90]:
print(1e308)

1e+308

# Arithmetic with integers:

In [21]:
a = 10
b = 3
print(a+b) 
print(a-b)
print(a*b)
print(a**b)
print(a//b) # Integer division ->3
print(a%b) # Modulo division (remainder ) -> 1

13
7
30
1000
3
1

# Converting to integer

In [19]:
# We can use int() to convert other data types (like strings or floats) to integers :
x = int("15")
y = int(3.9)
print(x) 
print(y)

15
3

In [23]:
print( 10 %2)

0

In [25]:
print( 10 % 3)

1

In [27]:
print( 3* (2+1))

9

In [29]:
print(3*2*1)

6

In [33]:
 num = 1
num += 1
print(num)

2

In [35]:
print(abs(-3))

3

In [37]:
print(round(3.75))

4

In [41]:
print(4+2)

6

In [43]:
print(round(3.75,1))

3.8

In [45]:
print(4+6)

10

In [57]:
num_1 = '100'
num_2 = '200'
num_1 = int(num_1)
num_2 = int(num_2)
print(num_1 + num_2)

300

# Float
Float is number that has a decimal point .
Examples : 3.14 , -0.5, 0.0 etc

In [92]:
print ( 8.55)

8.55

In [94]:
print(1.7e308)

1.7e+308

In [96]:
print(1.7e309)

inf

In [66]:
# Declaring a float :
pi = 3.14
price = 99.99
temp = -4.7
print(type(pi))

<class 'float'>

# Arithemetic Operations with float

In [71]:
a = 5.5
b = 2.0
print (a+b)
print(a-b)
print(a*b)
print(a/b) # nomrmal division always returns flowt

7.5
3.5
11.0
2.75

# Coverting to float

In [74]:
x = float(3) # 3 becomes 3.0
y = float("4.4") # string to float
print(x)
print(y)

3.0
4.4

In [76]:
# Ask user for item and add tax
price = float (input("Enter item price : " ))
tax = price * 0.1
total = price + tax
print( "Tax is : " , tax)
print("Total Price is :", total)

Enter item price :  100

Tax is :  10.0
Total Price is : 110.0

# Boolean 
A boolean in python is a data type with only two possible values : True and False

In [99]:
print(True)

True

In [103]:
print(False)

False

In [113]:
is_raining = True 
is_sunny = False
print(is_raining) # True
print(is_sunny) # False

True
False

In [115]:
x = True
print(type(x))

<class 'bool'>

# Booleans from Comparisions

In [120]:
print(5>3)
print(2==2)
print(2 ==4)
print(10<=10)
print(3 != 3)

True
True
False
True
False

In [126]:
# Boolean from User Input
age = int(input("Enter your age: "))
is_adult = age >=18
print("Are you an adult ?", is_adult)

Enter your age:  12

Are you an adult ? False

In [134]:
# Ask for age and check if user is enough to vote or not :
age = int(input("Enter your age : "))
can_vote = age >= 18
print("Can you vote ?" , can_vote)

Enter your age :  89

Can you vote ? True

# String
A string in python is a sequence of character (text), enclosed in quotes.
Examples: "Hello" , "python" , "123" ,"What's up " etc.

In [141]:
greeting = "Hello"
print(type(greeting))

<class 'str'>

# String Operations

In [160]:
first = "Hello"
last = "World"
full = first + " " + last
print(full)

Hello World

In [164]:
# Strin Repetition:
laugh = "ha"
print(laugh * 3)

hahaha

# Accessing Characters 
Strings as like list of letters . We can use indexing :

In [170]:
word = "Python"
print(word[0])
print(word[1])

P
y

# String Functions (Methods)
Python gives us tools to work with strings:

In [187]:
text = "hello world"
print(text.upper())
print(text.capitalize())
print(text.replace("world","python"))
print(len(text))

HELLO WORLD
Hello world
hello python
11

# f - Strings (Formatted strings)

In [190]:
name = "Bishwas"
age = 25
print(f"My name is {name} and I am {age} years old.")

My name is Bishwas and I am 25 years old.